<!--designed to work with css input popup technique - no js -->
<div class="popup-dialog">
    <div class="rounded py-4 px-5">
        <div class="text pb-4"><%=text%></div>
        <div class="buttons">
            <label for="<%=checkboxInputId%>" class="btn btn-primary cancel-button"><%=cancel_text%></label>

            <form action="<%=action%>" method="<%=method%>">
            <button type="submit" class="confirm-button btn btn-danger"><%=confirm_text%></button>
            <form></form>
        </div>
    </div>
  
    
</div>