<div class="chat-body">
    <input id="delete-convo-input" type="checkbox" hidden></input>
    <% if  (selected_conversation) { %>
    <%- include('./Popup/Delete-popup', {checkboxInputId:"delete-convo-input", action : "/delete-conversation/" + selected_conversation.id + "?_method=DELETE", method: "POST", text: "conversation", confirm_text: "Delete", cancel_text: "Cancel"}) %>
    <% if  (selected_conversation.sender2_Pgp) { %>
    <input id="user-pgp-keys" type="checkbox" hidden></input>
    <%- include('Popup/PgpKeys-popup', {checkboxInputId:"user-pgp-keys", text: selected_conversation.sender2_Pgp, cancel_text: "No"}) %>
    <% } %>

    <% for(let i = 0; i < selected_conversation.messages.length ; i++) {%>
    <% if (selected_conversation.messages[i].sender === selected_conversation.sender_1) { %>
    <input id="delete-message-input-<%=i%>" type="checkbox" hidden></input> <!-- when checked css shows next element -->
    <%- include('./Popup/Delete-popup', {checkboxInputId:"delete-message-input-"+ i, action : "/delete-message/" +  selected_conversation.id + "/" + selected_conversation.messages[i].id + "?_method=DELETE", method: "POST", text: "message", confirm_text: "Delete", cancel_text: "Cancel"}) %>

    <input id="edit-message-input-<%=i%>" type="checkbox" hidden></input> <!-- when checked css shows next element -->
    <%- include('Popup/EditMessage-popup', {checkboxInputId:"edit-message-input-"+ i, action : "/edit-message/" +  selected_conversation.id + "/" + selected_conversation.messages[i].id, currentMessage: selected_conversation.messages[i].message}) %>
    <%}%>
    <% } %>
    <% } %>
    <% if (selected_conversation) { %>
    <!-- Header -->
    <div class="messages-header px-3">
        <div class="change-convo me-2">
            <label for="change-messages">
                <%- include ("../../public/assets/img/icons/caret-down.svg") %>
                <%- include ("../../public/assets/img/icons/change-person.svg") %>
            </label>
        </div>
        <div class="chat-user">
            <img src="<%=selected_conversation.sender2_Img%>" class="smedium-rc rounded-circle" width="40"
                alt="<%=selected_conversation.sender_2%>" />
            <div class="name-and-type">
                <a href="<%=selected_conversation.link%>" class="mb-0 mx-0"><%=selected_conversation.sender_2 %></a>
                <div>
                    <p class="opacity-70 m-0"><span>Type of Conversaction:
                        </span><%=selected_conversation.settings.type%></p>
                </div>
            </div>

            <!-- <div class="bg-success rounded-circle" style="width: 8px; height: 8px;"></div> -->
        </div>
        <div class="delete-button-container">
            <% if (selected_conversation.sender2_Pgp) { %>
            <label for="user-pgp-keys" class="btn btn-outline-white me-3 user-pgp-keys">
                <i class='bx bxs-key fs-xl me-xl-2'></i>
                <span class="d-none d-xl-inline">Pgp Keys</span>
            </label>
            <% } %>

            <label for="delete-convo-input" class="btn btn-outline-danger">
                <i class="bx bx-trash-alt fs-xl me-xl-2"></i>
                <span class="d-none d-xl-inline">Delete Conversation</span>
            </label>

        </div>
    </div>
    <!-- Messages -->
    <div class="messages-main px-3">
        <% for(let i = 0; i < selected_conversation.messages.length ; i++) {%>
        <% if (selected_conversation.settings.timestamps && (i === 0 || (selected_conversation.messages[i].timestamps.getTime() - selected_conversation.messages[i-1].timestamps.getTime()) > 600000)) { %>
        <div class="timestamp">
            <div class="timestamp-left opacity-35"></div>
            <div class="timestamp-time">
                <%=selected_conversation.messages[i].timestamps.getDate() + "/" + (selected_conversation.messages[i].timestamps.getMonth()+1) + "/" + selected_conversation.messages[i].timestamps.getFullYear() + ", " + selected_conversation.messages[i].timestamps.toLocaleTimeString([],{ hour12: false, hour:'2-digit', minute: "2-digit" }) %>
            </div>
            <div class="timestamp-right opacity-35"></div>
        </div>
        <% } %>

        <div>
            <% if (selected_conversation.messages[i].sender === selected_conversation.sender_1) { %>
            <!-- Own message -->
            <div
                class="message-entry message-entry--own <%- (i + 1 === selected_conversation.messages.length && selected_conversation.messages[i].messageView)?'pb-4':'ee' %>">
                <div class="position-relative py-2 px-3">
                    <div class="message-text" style="
                            border-top-left-radius: 0.5rem;
                            border-bottom-right-radius: 0.5rem;
                            border-bottom-left-radius: 0.5rem;
                        ">
                        <span><%= selected_conversation.messages[i].message%></span>
                        <label for="delete-message-input-<%=i%>" class="delete-message-button btn">

                            <i class="bx bx-trash-alt"></i>

                        </label>
                        
                        <% if (selected_conversation.editButton.includes(i)) { %>
                            <label for="edit-message-input-<%=i%>" class="delete-message-button b-edit btn me-4">

                                <i class='bx bxs-edit' style="color:black;"></i>
    
                            </label>
                        <% } %>

                    </div>

                    <% if (i + 1 === selected_conversation.messages.length && selected_conversation.messages[i].messageView){ %>
                    <!-- Read Template, you cant put the code at differrent place if it is easier -->
                    <!-- <div class="d-flex">  -->
                    <p class="position-absolute fs-sm text-primary m-0" style="left: 0px;bottom: -25px">
                        <%- include ("../../public/assets/img/icons/check-double.svg") %>
                        Read
                    </p>
                    <!-- </div> -->
                    <% } %>

                </div>
            </div>

            <% } else { %>
            <!-- User message -->
            <div
                class="message-entry <%- (i + 1 === selected_conversation.messages.length && selected_conversation.messages[i].messageView)?'pb-4':'ee' %>">
                <% if (i === 0 || i > 0 && selected_conversation.messages[i - 1].sender !== selected_conversation.messages[i].sender) { %>
                <img src="<%=selected_conversation.sender2_Img%>" class="smedium-rc rounded-circle" width="40" alt="<%=selected_conversation.sender_2%>"/>
                <div class="position-relative d-flex align-items-center py-2 px-3 ms-2">
                <% } else { %> 
                    <div class="position-relative py-2 px-3" style="margin-left: 3.5rem;">
                <% } %>
                        <div>
                            <div>
                                <div class="message-text" style="
                                border-top-right-radius: 0.5rem;
                                border-bottom-right-radius: 0.5rem;
                                border-bottom-left-radius: 0.5rem;
                            ">
                                    <span><%= selected_conversation.messages[i].message %></span>
                                </div>
                            </div>
                        </div>

                        <% if (i + 1 === selected_conversation.messages.length && selected_conversation.messages[i].messageView){ %>
                        <!-- Read Template -->
                        <!--you cant put the code at differrent place if it is easier-->
                        <!-- <div class="ms-5">  -->
                        <p class="fs-sm text-primary ms-1 position-absolute m-0" style="right: 0px;bottom: -25px;">
                            <%- include ("../../public/assets/img/icons/check-double.svg") %>
                            Read
                        </p>
                        <!-- </div> -->
                        <% } %>
                    </div>

                </div>
                <% } %>
            </div>
            <% } %>
            <!-- For loop End -->

            <div id="bottom" class="swiper-scrollbar end-0"></div>
        </div>
        <% } else { %>
        <!-- MAke that Pretty -->
        <div class="no-convo-yet">
            <h6>
                <% if (query.searchQuery) { %>
                No Converastion found
                <% } else { %>
                No Converastion Yet
                <% } %>
            </h6>
        </div>
        <% } %>

        <!-- Footer (Send message form) -->
        <% if (selected_conversation) { %>
        <%- include('./Message-send') %>
        <% } %>
    </div>
</div>