<div class="chat-body">
    <input id="delete-convo-input" type="checkbox" hidden></input>
    <% if  (selected_conversation) { %>
   <%- include('Popup-dialog', {checkboxInputId:"delete-convo-input", action : "/delete-conversation/" + selected_conversation.id + "?_method=DELETE", method: "POST", text: "Are you sure you wish to delete this conversation?", confirm_text: "Yes", cancel_text: "No"}) %>  
   <% for(let i = 0; i < selected_conversation.messages.length ; i++) {%>

        <% if (selected_conversation.messages[i].sender === selected_conversation.sender_1) { %>
            <input id="delete-message-input-<%=i%>" type="checkbox" hidden></input> <!-- when checked css shows next element -->
            <%- include('Popup-dialog', {checkboxInputId:"delete-message-input-"+ i, action : "/delete-message/" +  selected_conversation.id + "/" + selected_conversation.messages[i].id + "?_method=DELETE", method: "POST", text: "Are you sure you wish to delete this message?", confirm_text: "Yes", cancel_text: "No"}) %>
            
            <input id="edit-message-input-<%=i%>" type="checkbox" hidden></input> <!-- when checked css shows next element -->
            <%- include('Popup-edit', {checkboxInputId:"edit-message-input-"+ i, action : "/edit-message/" +  selected_conversation.id + "/" + selected_conversation.messages[i].id, currentMessage: selected_conversation.messages[i].message}) %>

        <%}%>

    <% } %>
    <% } %>
    <% if (selected_conversation) { %>
    <!-- Header -->
    <div class="messages-header px-4">
        <div class="change-convo">
            <label for="change-messages"
                ><%- include ("../../public/assets/img/icons/caret-down.svg") %><%- include
                ("../../public/assets/img/icons/change-person.svg") %></label
            >
        </div>
        <div class="chat-user">
            <img
                src="<%=selected_conversation.img_path%>"
                class="smedium-rc rounded-circle"
                width="40"
                alt="<%=selected_conversation.sender_2%>"
            />
            <div class="name-and-type">
                <a href="<%=selected_conversation.link%>" class="mb-0 mx-0"><%=selected_conversation.sender_2 %></a>
                <div><p class="opacity-70 m-0">Type of Conversaction: <%=selected_conversation.settings.type%></p></div>
            </div>
           
            <!-- <div class="bg-success rounded-circle" style="width: 8px; height: 8px;"></div> -->
        </div>
        <div class="delete-button-container">
    
                <label for="delete-convo-input" class="btn btn-outline-danger">
                
                        <i class="bx bx-trash-alt fs-xl me-xl-2"></i>
                        <span class="d-none d-xl-inline">Delete Conversation</span>
                </label>
 
        </div>
    </div>

    <!-- Messages -->
    <div class="messages-main px-3">
        <% for(let i = 0; i < selected_conversation.messages.length ; i++) {%>
            <% if (selected_conversation.settings.timestamps && (i === 0 || (selected_conversation.messages[i].timestamps.getTime() - selected_conversation.messages[i-1].timestamps.getTime()) > 600000)) { %>
                <div class="timestamp">
                    <div class="timestamp-left"></div>
                    <div class="timestamp-time"><%=selected_conversation.messages[i].timestamps.getDate() + "/" + (selected_conversation.messages[i].timestamps.getMonth()+1) + "/" + selected_conversation.messages[i].timestamps.getFullYear() + ", " + selected_conversation.messages[i].timestamps.toLocaleTimeString([],{ hour12: false, hour:'2-digit', minute: "2-digit" }) %></div>
                    <div class="timestamp-right"></div>
                </div>
            <% } %>
       
        <div>
            <% if (selected_conversation.messages[i].sender === selected_conversation.sender_1) { %>
            <!-- Own message -->
            <div class="message-entry message-entry--own">
                <div>
                    <div
                        class="message-text"
                        style="
                            border-top-left-radius: 0.5rem;
                            border-bottom-right-radius: 0.5rem;
                            border-bottom-left-radius: 0.5rem;
                        "
                    >
                        <span><%= selected_conversation.messages[i].message %></span>
                            <label for="delete-message-input-<%=i%>" class="delete-message-button btn btn-outline-danger">
                         
                                <i class="bx bx-trash-alt"></i>
                            
                            </label>
                            <label for="edit-message-input-<%=i%>" class="delete-message-button btn me-4" style="background: rgb(204, 204, 204); outline: rgb(204, 204, 204);">
                             
                                <i class='bx bxs-edit' style="color: black;"></i>
                                
                            </label>
                        </div>
                </div>
            </div>
            <% if (i + 1 === selected_conversation.messages.length && selected_conversation.messages[i].messageView){ %>
                <!-- Read Template, you cant put the code at differrent place if it is easier -->
                <div class="d-flex"> 
                    <p class="fs-sm text-primary ms-auto">
                        <%- include ("../../public/assets/img/icons/check-double.svg") %>
                        Read
                    </p>
                </div>
            <% } %>
    

            <% } else { %>
            <!-- User message -->
            <div class="message-entry">
            <% if (i === 0 || i > 0 && selected_conversation.messages[i - 1].sender !== selected_conversation.messages[i].sender) { %>
                    <img
                    src="<%=selected_conversation.img_path%>"
                    class="smedium-rc rounded-circle"
                    width="40"
                    alt="<%=selected_conversation.sender_2%>"
                />
                <div class="ms-2">
            <% } else { %> 
                <div style="margin-left: 3.5rem;">
            <% } %>
                <div>
                    <div>
                        <div
                            class="message-text"
                            style="
                                border-top-right-radius: 0.5rem;
                                border-bottom-right-radius: 0.5rem;
                                border-bottom-left-radius: 0.5rem;
                            "
                        >
                            <span><%= selected_conversation.messages[i].message %></span>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <% if (i + 1 === selected_conversation.messages.length && selected_conversation.messages[i].messageView){ %>
                <!-- Read Template -->
                <!--you cant put the code at differrent place if it is easier-->
                <div class="ms-5"> 
                    <p class="fs-sm text-primary ms-1">
                        <%- include ("../../public/assets/img/icons/check-double.svg") %>
                        Read
                    </p>
                </div>
            <% } %>

            <% } %>
        </div>
        <% } %> <!-- For loop End -->

   

        <div id="bottom" class="swiper-scrollbar end-0"></div>
    </div>
    <% } else { %>
    <!-- MAke that Pretty -->
    <div class="no-convo-yet">
      <h6>
        <% if (query.searchQuery) { %>
            No Converastion found
        <% } else { %> 
            No Converastion Yet
        <% } %>
     </h6>
    </div>
    <% } %>

    <!-- Footer (Send message form) -->
    <% if (selected_conversation) { %>
    <form method="POST" action="/messages/<%=selected_conversation.id%>#bottom">
   
        <div class="card-footer d-sm-flex w-100 border-0 pt-3 pb-3 px-4">
            <div class="position-relative w-100 me-2 mb-3 mb-sm-0">
                <textarea
                    class="form-control form-control-lg"
                    style="padding-right: 85px;"
                    placeholder="Message..."
                    minlength="2"
                    maxlength="1000"
                    name="message"
                    rows="1"
                    required
                ></textarea>
            </div>
            <input type="submit" hidden />
            <button type="submit" class="desktop btn btn-primary btn-icon d-none d-sm-block">
                <i class="bx bx-send"></i>
            </button>
            <button type="submit" class="btn btn-primary btn-lg w-100 d-sm-none">
                <i class="bx bx-send fs-xl me-2"></i>
                Send
            </button>
        </div>
    </form>
    <% } %>
</div>
