<p class="m-0 mt-1">Status: <span><%- include('./Status-order', {status : order.orderStatus}) %></span></p>


<% if (order.formatedTimer) { %>
    <p class="m-0 mt-2">Time Left: <b><%=order.formatedTimer%></b></p>
<% } %>
<%  if (order.status === 'disputeInProgress') { %>
    <% if (!order.disputesSettings.disputeAdmin) { %>
        <p class="m-0"><b>Waiting for an Admin</b></p>
    <% } else { %>
        <p class="m-0">Admin: <b><%=order.disputesSettings.disputeAdmin%></b></p>
    <% } %>
<% } %>

<hr class="mt-3 mb-4">

<%if (order.status === 'finalized') {%>
    <p class="mb-0">This Order has been Finalized</p>
<%}%>


<%if (authuser.username === order.vendor) {%>
    <%if (order.orderStatus === 'awaitingInformation') {%>
        <p class="mt-4">Awaiting Buyer Informations</p>
    <%}%>
    <%if (order.orderStatus === 'awaitingPayment') {%>
        <p class="mt-4">Awaiting Buyer Payment</p>
    <%}%>
    <%if (order.orderStatus === 'awaitingShipping') {%>
        <form action="/update-order/<%=order.id%>" method="POST">
            <button class="btn btn-warning" type="submit" name="status" value="next" style="width: 80%;">I have shipped the Product</button>
        </form>


        <input id="reject-order" type="checkbox" hidden></input>
        <%- include('./Popup/Reject-popup', {checkboxInputId: 'reject-order', action: '/update-order/' + order.id}) %>

        <div class="mt-3">
            <label for="reject-order" class="btn btn-danger" style="width: 80%;">
                <span class="d-none d-xl-inline">Reject this Order</span>
            </label>
        </div>
        
    <%}%>
    <%if (order.orderStatus === 'shipped') {%>
        <p class="mt-4">Awaiting for the Buyer to Recieve the Product</p>
    <%}%>
    <%if (order.orderStatus === 'rejected') {%>
        <p class="mt-4">You have rejected this Order</p>
    <%}%>
    <%if (order.orderStatus === 'recieved') {%>
        <p class="mt-4">Awaiting for the Buyer to Finalize the Order</p>
    <%}%>
    <%if (order.orderStatus === 'finalized') {%>
        <p class="mt-4">We have sent you your Money</p>
    <%}%>
<%}%>


<%if (authuser.username !== order.vendor) {%>
    <%if (order.orderStatus === 'awaitingInformation') {%>
        <p class="mb-0">We are Waiting for your Information</p>
        <a class="mt-1 mb-4 mb-0" href="/submit-info/<%=order.id%>">Click Here</a>
    <%}%>
    <%if (order.orderStatus === 'awaitingPayment') {%>
        <p class="mb-0">Waiting for your Payment...</p>
    <%}%>
    <%if (order.orderStatus === 'awaitingShipping') {%>
        <p class="mt-4">Waiting for the Vendor to ship the Product</p>
    <%}%>
    <%if (order.orderStatus === 'shipped') {%>
        <form action="/update-order/<%=order.id%>" method="POST">
            <button class="btn btn-success" type="submit" name="status" value="next" style="width: 80%;">I have recieved the Product</button>
        </form>

        <% if (order.settings.timerResetLeft) { %>
        <form action="/update-order/<%=order.id%>" method="POST">
            <button class="btn btn-primary mt-3" type="submit" name="status" value="resetTimer" style="width: 80%;">I didnt recieve the product yet (<%=order.settings.timerResetLeft%>)</button>
        </form>
        <% } %>

        <input id="dispute-order" type="checkbox" hidden></input>
        <%- include('./Popup/Dispute-popup', {checkboxInputId: 'dispute-order', action: '/update-order/' + order.id}) %>

        <div class="mt-3">
            <label for="dispute-order" class="btn btn-danger" style="width: 80%;">
                <span class="d-none d-xl-inline">Disupte this Order</span>
            </label>
        </div>
            
    <%}%>
    <%if (order.orderStatus === 'recieved') {%>
        <form action="/update-order/<%=order.id%>?" method="POST">
            <button class="btn btn-success" type="submit" name="status" value="next" style="width: 80%;">Everything is good, finalize this order</button>
        </form>

        <input id="dispute-order" type="checkbox" hidden></input>
        <%- include('./Popup/Dispute-popup', {checkboxInputId: 'dispute-order', action: '/update-order/' + order.id}) %>

        <div class="mt-3">
            <label for="dispute-order" class="btn btn-danger" style="width: 80%;">
                <span class="d-none d-xl-inline">Disupte this Order</span>
            </label>
        </div>

    <%}%>
    <%if (order.orderStatus === 'rejected') {%>
        <p class="mb-2">This Order as been Cancelled by the Vendor</p>
        <p class="mb-0 fw-bold">Reason of Cancellation:</p>
        <p class="mb-3 fs-sm"><%=order.cancellationReason%></p>
    <%}%>
<%}%>


<%if (order.orderStatus === 'disputeInProgress') {%>
    <% if (authuser.username === order.disputesSettings?.disputeAdmin) { %>
        <p>Decide who is right or wrong here</p>
        <p><b>Chat with the vendor and username using the Order chat</b></p>

        <span>

        <input type="checkbox" name="settling-dispute" id="settling-disputes" class="form-check-input me-1">
        <label for="settling-disputes" class="form-check-label">I have made my decision</label>

        <div class="dispute-settling-container">
            <div class="my-3">

            <form action="/settle-dispute/<%=order.id%>" method="POST">
                <div>
                <input type="radio" id="buyer-radio" name="winner" value="<%=order.buyer%>" class="form-check-input me-1" required>
                <label class="form-check-label" for="buyer-radio">Buyer Win (<%=order.buyer%>)</label>
            </div>
            <div>
                <input type="radio" id="vendor-radio" name="winner" value="<%=order.vendor%>" class="form-check-input me-1" required>
                <label class="form-check-label" for="vendor-radio">Vendor Win (<%=order.vendor%>)</label>
            </div>
            <div>
                <input type="radio" id="both-radio" name="winner" value="Both" class="form-check-input me-1" required>
                <label class="form-check-label" for="both-radio">Both Win</label>
            </div>
                <button class="btn btn-primary mt-3" type="submit" name="status" value="dispute" style="width: 80%;">Settle Dispute</button>
            </form>
        </div>
        </div>
    </span>
    <% } else { %> 
        <p class="mb-0">This Order is currently Disputed</p>
        <p class="mt-2 mb-0"><b>Defend your case in the order chat</b></p>

        <div class="d-flex justify-content-between px-2 product-description-content mt-4">
            <p class="m-0" ><b>Reason of Dispute:</b></p>
            <p class="m-0"><%= order.disputesSettings.disputeReason%></p>
          </div>
    <% } %>
<%}%>


<%if (order.orderStatus === 'disputed') {%>
    <p class="mb-2">This Dipsute has been settle</p>

    <p class="mb-0">The Winner of this Dispute is : 
        <b>
            <% if (order.disputesSettings.disputeWinner === 'Both') { %>
                Draw, you both win
            <%} else if (order.disputesSettings.disputeWinner === order.vendor) { %>
                <%=order.vendor%> 
                <% if (authuser.username === order.vendor) { %>
                    (You)
                <% } else { %>
                    (Vendor) 
                <% } %>
                <% } else { %> 
                    <%=order.buyer%> 
                    <% if (authuser.username !== order.vendor) { %>
                        (You)
                    <% } else { %>
                        (Buyer)
                    <%}%>
                <% } %>
    </b>
   </p>

<%}%>




<% if (order.canDelete) { %>
    <input id="delete-order-1" type="checkbox" hidden></input>
    <%- include('./Popup/Delete-order', {checkboxInputId:"delete-order-1", action : "/update-order/" + order.id}) %>  

       <label for="delete-order-1" class="btn btn-primary p-2 mx-auto" style="width: 80%;">
            Delete Order
        </label>
<% } %>

<hr class="mt-4 mb-3">