
<p>Status: <span><%- include('./Status-order', {status : order.status}) %></span></p>


<% if (order.timer) { %>
    <p class="mb-0">Time Left: <b><%=order.Formated_Timers%></b></p>
<% } %>
<%  if (order.status === 'dispute_progress') { %>
    <% if (!order.admin) { %>
        <p class="mb-0"><b>Waiting for an Admin</b></p>
    <% } else { %>
        <p class="mb-0">Admin: <b><%=order.admin%></b></p>
    <% } %>
<% } %>

<hr class="my-4">

<%if (authuser.username === order.vendor) {%>
    <%if (order.status === 'awaiting_info') {%>
        <p class="mt-4">Awaiting Buyer Informations</p>
    <%}%>
    <%if (order.status === 'awaiting_payment') {%>
        <p class="mt-4">Awaiting Buyer Payment</p>
    <%}%>
    <%if (order.status === 'awaiting_shipment') {%>
        <form action="/update-order/<%=order.id%>?_method=PUT" method="POST">
            <button class="btn btn-warning" type="submit" name="status" value="shipped" style="width: 80%;">I have shipped the Product</button>
        </form>
        <form action="/update-order/<%=order.id%>?_method=PUT" method="POST">
            <button class="btn btn-danger mt-3" type="submit" name="status" value="rejected" style="width: 80%;">I want to Cancel this Order</button>
        </form>
    <%}%>
    <%if (order.status === 'shipped') {%>
        <p class="mt-4">Awaiting for the Buyer to Recieve the Product</p>
    <%}%>
    <%if (order.status === 'recieved') {%>
        <p class="mt-4">Awaiting for the Buyer to Finalize the Order</p>
    <%}%>
    <%if (order.status === 'rejected') {%>
        <p class="mt-4">You have rejected this Order</p>
    <%}%>
<%}%>


<%if (authuser.username !== order.vendor && authuser.username !== order.admin) {%>
    <%if (order.status === 'awaiting_payment') {%>
        <p class="mt-4 mb-0">Waiting for your Payment...</p>
        <p class="mb-3 mt-2">Send <span class="text-primary"><%=order.total_price%>XMR</span> To this address <span class="text-primary"><%=order.address%>XMR.</span></p>
    <%}%>
    <%if (order.status === 'awaiting_shipment') {%>
        <p class="mt-4">Waiting for the Vendor to ship the Product</p>
    <%}%>
    <%if (order.status === 'shipped') {%>
        <form action="/update-order/<%=order.id%>?_method=PUT" method="POST">
            <button class="btn btn-success" type="submit" name="status" value="recieved" style="width: 80%;">I have recieved the Product</button>
        </form>

        <% if (order.reset_left) { %>
        <form action="/update-order/<%=order.id%>?_method=PUT" method="POST">
            <button class="btn btn-primary mt-3" type="submit" name="status" value="not_recieved" style="width: 80%;">I didnt recieve the product yet (<%=order.reset_left%>)</button>
        </form>
        <% } %>

        <form action="/create-dispute/<%=order.id%>" method="POST">
            <button class="btn btn-danger mt-3" type="submit" name="status" value="dispute" style="width: 80%;">Disupte this Order</button>
        </form>
    <%}%>
    <%if (order.status === 'recieved') {%>
        <form action="/update-order/<%=order.id%>?_method=PUT" method="POST">
            <button class="btn btn-success" type="submit" name="status" value="finished" style="width: 80%;">Everything is good, finalize this order</button>
        </form>
        <form action="/create-dispute/<%=order.id%>" method="POST">
            <button class="btn btn-danger mt-3" type="submit" name="status" value="dispute" style="width: 80%;">Disupte this Order</button>
        </form>
    <%}%>
    <%if (order.status === 'rejected') {%>
        <p class="mb-0">This Order as been Cancelled bt the Vendor</p>
    <%}%>
<%}%>


<%if (order.status === 'finalized') {%>
    <p class="mb-0">This Order is Finalized</p>
<%}%>


<%if (order.status === 'dispute_progress') {%>
    <% if (authuser.username === order.admin) { %>
        <p>Decide who is right or wrong here</p>
        <p><b>Chat with the vendor and username using the Order chat</b></p>

        <span>

        <input type="checkbox" name="settling-dispute" id="settling-disputes" class="form-check-input me-1">
        <label for="settling-disputes" class="form-check-label">I have made my decision</label>

        <div class="dispute-settling-container">
            <div class="my-3">

            <form action="/settle-dispute/<%=order.id%>" method="POST">
                <div>
                <input type="radio" id="buyer-radio" name="winner" value="<%=order.buyer%>" class="form-check-input me-1" required>
                <label class="form-check-label" for="buyer-radio">Buyer Win (<%=order.buyer%>)</label>
            </div>
            <div>
                <input type="radio" id="vendor-radio" name="winner" value="<%=order.vendor%>" class="form-check-input me-1" required>
                <label class="form-check-label" for="vendor-radio">Vendor Win (<%=order.vendor%>)</label>
            </div>
                <button class="btn btn-primary mt-3" type="submit" name="status" value="dispute" style="width: 80%;">Settle Dispute</button>
            </form>
        </div>
        </div>
    </span>
    <% } else { %> 
        <p class="mb-0">This Order is currently Disputed</p>
        <p class="mt-2 mb-0"><b>Defend your case in the order chat</b></p>
    <% } %>
<%}%>


<%if (order.status === 'disputed') {%>
    <p class="mb-2">This Dipsute have been settle</p>

    <p class="mb-0">The Winner of this Dispute is : 
        <b>
            <% if (order.dispute_winner === order.vendor) { %>
                <%=order.vendor%> 
                <% if (authuser.username === order.vendor) { %>
                    (You)
                <% } else { %>
                    (Vendor) 
                <% } %>
                <% } else { %> 
                    <%=order.buyer%> 
                    <% if (authuser.username !== order.vendor) { %>
                        (You)
                    <% } else { %>
                        (Buyer)
                    <%}%>
                <% } %>
    </b>
   </p>

<%}%>




<% if (order.deletelink) { %>
       <p class="mt-2 mb-2">I want to delete this Order</p>
        <form class="mb-1" action="/delete-order/<%=order.id%>?_method=DELETE" method="POST">
            <button class="btn btn-primary"style="width: 80%;" type="submit">Delete Order</button>
        </form>
<% } %>

<hr class="my-4">