<div class="card card-body d-flex flex-row align-items-center card-hover mt-2">
    <img src="<%=vendor.img_path%>" class="d-block big-rc rounded-circle" width="150" alt="<%=vendor.username%>">
    <div class="col-md-7 px-4" style="width: 75%;">
      <div class="py-5 mx-auto" style="max-width: 530px;">
        <div class="fs-xl opacity-50 mb-2">Vendor:</div>
        <h2 class="h1 mb-4">
          <a href="/profile/<%=vendor.username%>">
            <%=vendor.username%>
          </a></h2>
        <p class=" opacity-70 pb-4"><%=vendor.description%>
          <% if (!vendor.description) { %>
            This Vendor doesnt have a description...
        <% } %>
      </p>
        <div class="d-flex flex-column flex-sm-row">
          <a href="/profile/<%=vendor.username%>" class="btn btn-primary me-sm-4 mb-3 mb-sm-0">
            See Profile
          </a>
        </div>
      </div>
    </div>
  </div>
