<%- include('partials/Statics/Head', {page: '- Promote User'}) %>

<body class="documentation-view">
  <%- include('partials/Statics/Navbar') %>
  <!-- Page wrapper for sticky footer -->
  <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
  <input id="mobile-menu-toggle" type="checkbox" hidden />
  <label for="mobile-menu-toggle"
    class="docs-aside-open-close"><%- include ("../public/assets/img/icons/move-left.svg") %></label>
  <main class="page-wrapper">
    <label class="clickout-mobile-menu" for="mobile-menu-toggle"></label>
    <div>
      <%- include('partials/Admin-Sidebar') %>

      <!-- Page container -->
      <div class="docs-con pt-5">

        <div class="container-fluid container pt-4 pt-lg-5 pb-2 pb-lg-4">
          <% if (success.length) { %>
          <div class="pt-3 pb-4 py-sm-4 pt-lg-4">
            <%- include('partials/Flash-message', {message: success, type : 'success'}) %>
          </div>
          <% } %>

          <div>
            <h2>Promote User :</h2>
          </div>
          <% if (users.results.length) { %>
          <% const usersResult = users.results %>
          <% for(let i = usersResult.length - 1; i > -1; i--) { %>
          <div class="card card-body d-flex flex-row align-items-center card-hover mt-2">
            <img src="<%=usersResult[i].img_path%>" class="d-block big-rc rounded-circle"
              alt="<%=usersResult[i].username%>">
            <div style="width: 75%;">
              <div class="py-5 mx-auto" style="max-width: 530px;">
                <div class=" opacity-50 mb-2">User :</div>
                <h2 class="mb-4">
                  <a href="/profile/<%=usersResult[i].username%>?productPage=1&reviewPage=1">
                    <%=usersResult[i].username%>
                  </a></h2>

                <div class="d-flex flex-column flex-sm-row">
                  <a href="/profile/<%=usersResult[i].username%>?productPage=1&reviewPage=1"
                    class="btn btn-primary me-sm-4 mb-3 mb-sm-0">
                    See Profile
                  </a>
                  <form action="/promote-user/<%=usersResult[i].username%>" method="POST">
                    <button type="submit" class="btn btn-success me-sm-4 mb-3 mb-sm-0">
                      Promote
                    </button>
                  </form>
                  <form action="/promote-user/<%=usersResult[i].username%>?decline=true" method="POST">
                    <button type="submit" class="btn btn-danger me-sm-4 mb-3 mb-sm-0">
                      Refuse
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% } else { %>
          <h4 class="my-3">No User to Promote !</h3>
            <h5 class="my-3">Keep it up !</h5>
            <% } %>
            <div class="mt-4">
              <%- include('partials/Pagination', {nextPage: users.nextPage, currentPage: parseInt(query.usersPage), queryName: 'usersPage'}) %>
            </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/Statics/Footer') %>
</body>