<%- include('partials/Head') %>
<body>

    <div class="container message-container">
        <a href="/admin">Admin Page</a>
        <div class="container-container">
            <%if(!disputes.length) { %>
                <p>Go take some New Dispute</p>
            <% } %>

        <div>
        <div class="container-list-convo">
            <div class="list-convo">
                <div>
        

        
                    <% for(let i = 0; i < disputes.length; i++) { %>
                        <a href="/admin/resolve-dipsute/<%=disputes[i].id%>"><%=disputes[i].id%></a>
                        <p>Vendor : <%=disputes[i].vendor%></p>
                        <p>Buyer : <%=disputes[i].buyer%></p>
                    <% } %>
                
                </div>
    
            </div>
    
        </div>
    </div>
    
    <div class="container-selected-convo">
    <% if (selected_dispute) { %>
        <div class="selected-convo-header">
            <a href="/admin/resolve-dipsute/<%=selected_dispute.id%>"><%=selected_dispute.id%></a>
            <p>Vendor : <%=selected_dispute.vendor%></p>
            <p>Buyer : <%=selected_dispute.buyer%></p>
            <p>Privacy Setting : <%=selected_dispute.privacy%></p>
        </div>

        <hr>
        <div class="selected-convo">
            <% for(let i = 0; i < selected_dispute.submited_info.length; i++) { %>
                <p><%=selected_dispute.submited_info[i].content%></p>
            <% } %>
        </div>


        <div class="selected-convo-input">
            <form action="/admin/resolve-dipsute/send-message/<%=selected_dispute.id%>" method="POST">
                <input type="text" name="content">
                <button type="text">Send</button>
            </form>
            
            <form action="/admin/resolve-dipsute/<%=selected_dispute.id%>" method="POST">
                <p>Resolve the dispute</p>
                <p>Who is in the right here ?</p>

                <input type="checkbox" id='safety' required>
                <label for="safety">I am sure of my decision</label>
  
                <button type="submit" name='winner' value="<%=selected_dispute.buyer%>"><%=selected_dispute.buyer%> (buyer)%></button>
                <button type="submit" name='winner' value="<%=selected_dispute.vendor%>"><%=selected_dispute.vendor%> (vendor)%></button>
                
            </form>
        </div>
    <% } %>

    </div>
    </div>
</div>

</body>
</html>