<%- include('partials/Head') %>
<body>


    <div class="container">
        <a href="/admin">Admin Page</a>

        
        <% if (!disputes.length) { %>
            <p>Good Job guys, there is no order needing dispute !</p>
        <% } %>
        <% for(let i = 0; i < disputes.length; i++) { %>

            <p><%=disputes[i].id%></p>
            <p>Vendor : <%=disputes[i].vendor%></p>
            <p>Buyer : <%=disputes[i].buyer%></p>
            <form action="/admin/take-dipsute/<%=disputes[i].id%>" method="POST">
                <button type="Submit">Take</button>
            </form>

        <% } %>
    </div>

</body>
</html>