<%- include('partials/Head') %>

<body>
    <%- include('partials/Navbar') %>
          <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">
      
      <!-- Center Everything -->
      <section class="position-relative h-100 pt-5 pb-4">

        <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start align-content-center h-100 pt-5">


          <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">

            <% if (messages.error) { %>
              <%- include('partials/Flash-message', {message: messages.error}) %>
            <% } %>
            <% if (error.length) { %>
              <%- include('partials/Flash-message', {message: error, type : 'error'}) %>
            <% } %>
            <% if (success.length) { %>
              <%- include('partials/Flash-message', {message: success, type : 'success'}) %>
            <% } %>
            <h1 class="text-center text-xl-start">Welcome Back</h1>
            <p class="text-center text-xl-start pb-3 mb-3">Don’t have an account yet? <a href="/register">Register here.</a></p>
            <form action='/login' method="POST" class="needs-validation mb-2">
              <div class="position-relative mb-4">
                <label for="username" class="form-label fs-base">Username</label>
                <input type="text" id="username" class="form-control form-control-lg" name="username" minlength="3" maxlength="50" required>
                <div class="invalid-feedback position-absolute start-0 top-100">Please enter a valid Username!</div>
              </div>
              <div class="mb-4">
                <label for="password" class="form-label fs-base">Password</label>
                <div class="password-toggle">
                  <input type="password" id="password" class="form-control form-control-lg" name="password" minlength="8" maxlength="200" required>
                  <div class="invalid-feedback position-absolute start-0 top-100">Please enter your password!</div>
                </div>
              </div>
              <div class="mb-4">
               <a href="#" class="btn btn-link btn-lg w-100">Forgot your password?</a>
              </div>
              <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Sign in</button>
            </form>
            <hr class="my-4">
        </div>
        
        <!-- Background -->
        <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block" style="background-image: url(assets/img/account/signin-bg.jpg);"></div>
      </section>
    </main>

  </body>
</html>