<%- include('partials/Head') %>
<body>
    <main class="page-wrapper messages-view">
<!-- Fix the Scolling when a lot of conversation are active and when you are in a long conversation -->
<!-- Make it that the section always take all the screen no matter how much active conversation there are -->
    <%- include('partials/Navbar') %>

    <section class="container">
      <div class="row">
        <div>
          <input type="checkbox" id="change-messages" hidden/>
          <div class="rounded messages-container">
            <div class="contacts">
              <div class="messages-heading"> <h1 class="h3 mb-0 px-4 py-3">Messages </h1>
                <label for="change-messages"><%- include ("../public/assets/img/icons/close-cross.svg") %></label>
              </div>
               <form class="search-messages px-4">
                <div>
                  <i class="bx bx-search-alt fs-xl"></i>
                </div>
             
                <input type="search" placeholder="Search">
                <input type="submit" hidden />
              </form>
              <div class="contact-list">
                <% for(let i = conversations.length - 1; i >= 0; i--) { %>
                  <% if (conversations[i].id === selected_conversation.id) { %>
                    <label for="change-messages">
                      <a href="/messages/<%= conversations[i].id %>#bottom" class="selected-convo position-relative d-flex align-items-start text-decoration-none pe-none py-3 px-4">
                        <div class="position-absolute top-0 start-0 bg-primary w-3 h-100"></div>
                        <img src="<%= conversations[i].img_path%>" class="smedium-rc rounded-circle" alt="<%= conversations[i].sender_2 %>">
                        <div class="ps-2 ms-1">
                          <div class="mb-1">
                            <h6 class="mb-0 me-2"><%= conversations[i].sender_2 %></h6>
                          </div>
                          <p class="convo-snippet fs-sm text-body mb-0"><%= conversations[i].messages[conversations[i].messages.length - 1].message %></p>
                        </div>
                      </a>
                    </label>
                  
                  <% } else { %>
                    <a href="/messages?id=<%= conversations[i].id %>#bottom" class="d-flex align-items-start text-decoration-none bg-faded-primary-hover py-3 px-4">
                      <img src="<%= conversations[i].img_path%>" class="smedium-rc rounded-circle" alt="<%= conversations[i].sender_2 %>">
                      <div class="ps-2 ms-1">
                        <div class="mb-1">
                          <h6 class="mb-0 me-2"><%= conversations[i].sender_2 %></h6>
                        </div>
                        <p class="convo-snippet fs-sm text-body mb-0"><%= conversations[i].messages[conversations[i].messages.length - 1].message %></p>
                      </div>
                    </a>
                  <% } %>
                  <div class="contact-divider"></div>
                <% } %>
              </div>
            </div>
            <div class="chat">
              <%- include('partials/Show-messages', {selected_conversation : selected_conversation}) %>
            </div>
          </div>
        </div>
      
      </div>
    </section>
    </html>