<%- include('partials/Statics/Head', {page: '- Pay Order'}) %>
<body>
    <main class="page-wrapper">
        <%- include('partials/Statics/Navbar') %>



        <section class="pt-2 pt-lg-3 pb-lg-4" >
            <div class="container align-items-center text-center">

                <nav class="py-4 mb-5" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item">
                        <a href="">...</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="">Order</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="">Provide Information</a>
                        </li>
                      <li class="breadcrumb-item active" aria-current="page">Pay</li>
                    </ol>
                  </nav>
    

                <img src="/default/qr_code.jpg" class="rounded-3" alt="Qr Code" style="max-width: 306px;">

                <p class="mb-3 mt-4">Send <span class="text-primary"><%=order.total_price%>$</span><span class="text-primary mx-1">(Price in Xmr$)</span> To this Monero address:</p>

                <p class="text-primary"><span class="card card-body border-0" style="background:#212121"><%=order.orderMoneroAddress%></span></p>



        <a href="/order-resume/<%=order.id%>" class="btn btn-primary shadow-primary mt-3 mb-5">Continue</a>
</div>
</section>    


        <%- include('partials/Statics/Footer') %>
    </main>

</body>
</html>