<%- include('partials/Head') %>

  <!-- Body -->
<body>

    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">


      <%- include('partials/Navbar') %>

      <section class="container mt-3 mb-2 mb-md-4 mb-lg-5 pt-lg-2 pb-5">

        <!-- BreadCrumb -->
        <nav class="py-4 mb-3" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="landing-online-courses.html"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
            <li class="breadcrumb-item active" aria-current="page">Your Order(s)</li>
          </ol>
        </nav>


      <div class="shadow-sm p-sm-3 label-input">

      <input name='radio-hack' type="radio" id="your_order"  class="form-check-input" checked>
      <label for="your_order" class="form-check-label">Your Orders</label>
      
      <input name='radio-hack' type="radio" id="client_order" class="form-check-input" checked>
      <label for="client_order" class="form-check-label">Your Clients Orders</label>
  
      <div></div>
  
      <!--Your Order-->
      <div class="your_order_container">
          
      <input name='radio-hack-order' type="radio" id="your_order-all" class="form-check-input" checked>
      <label for="your_order-all" class="form-check-label">All</label>
          
      <input name='radio-hack-order' type="radio" id="your_order-awaiting_info" class="form-check-input">
      <label for="your_order-awaiting_info" class="form-check-label">Awaiting Info</label>
  
      <input name='radio-hack-order' type="radio" id="your_order-awaiting_payment" class="form-check-input">
      <label for="your_order-awaiting_payment" class="form-check-label">Awaiting Payment</label>
  
      <input name='radio-hack-order' type="radio" id="your_order-awaiting_shipment" class="form-check-input">
      <label for="your_order-awaiting_shipment" class="form-check-label">Awaiting Shipment</label>
  
      <input name='radio-hack-order' type="radio" id="your_order-shipped" class="form-check-input">
      <label for="your_order-shipped" class="form-check-label">Shipped</label>
          
      <input name='radio-hack-order' type="radio" id="your_order-recieved" class="form-check-input">
      <label for="your_order-recieved" class="form-check-label">Recieved</label>
  
      <input name='radio-hack-order' type="radio" id="your_order-finalized" class="form-check-input">
      <label for="your_order-finalized" class="form-check-label">Finalized</label>
  
      <input name='radio-hack-order' type="radio" id="your_order-rejected" class="form-check-input">
      <label for="your_order-rejected" class="form-check-label">Rejected</label>
  
      <input name='radio-hack-order' type="radio" id="your_order-expired" class="form-check-input">
      <label for="your_order-expired" class="form-check-label">Expired</label>

      <hr class="my-4">
      
      <div class="your_order_container-all"><%- include('partials/Orders-list', {orders : your_order.all}) %></div>
      <div class="your_order_container-awaiting_info"><%- include('partials/Orders-list', {orders : your_order.awaiting_info}) %></div>
      <div class="your_order_container-awaiting_payment"><%- include('partials/Orders-list', {orders : your_order.awaiting_payment}) %></div>
      <div class="your_order_container-awaiting_shipment"><%- include('partials/Orders-list', {orders : your_order.awaiting_shipment}) %></div>
      <div class="your_order_container-shipped"><%- include('partials/Orders-list', {orders : your_order.shipped}) %></div>
      <div class="your_order_container-recieved"><%- include('partials/Orders-list', {orders : your_order.recieved}) %></div>
      <div class="your_order_container-finalized"><%- include('partials/Orders-list', {orders : your_order.finalized}) %></div>
      <div class="your_order_container-rejected"><%- include('partials/Orders-list', {orders : your_order.rejected}) %></div>
      <div class="your_order_container-expired"><%- include('partials/Orders-list', {orders : your_order.expired}) %></div>
     
    </div>
  
  
     <div class="client_order_container">
  
      <input name='radio-hack-client-order' type="radio" id="client_order-all" class="form-check-input" checked>
      <label for="client_order-all" class="form-check-label">All</label>
          
      <input name='radio-hack-client-order' type="radio" id="client_order-awaiting_info" class="form-check-input">
      <label for="client_order-awaiting_info" class="form-check-label">Awaiting Info</label>
  
      <input name='radio-hack-client-order' type="radio" id="client_order-awaiting_payment" class="form-check-input">
      <label for="client_order-awaiting_payment" class="form-check-label">Awaiting Payment</label>
  
      <input name='radio-hack-client-order' type="radio" id="client_order-awaiting_shipment" class="form-check-input">
      <label for="client_order-awaiting_shipment" class="form-check-label">Awaiting Shipment</label>
  
      <input name='radio-hack-client-order' type="radio" id="client_order-shipped" class="form-check-input">
      <label for="client_order-shipped" class="form-check-label">Shipped</label>
          
      <input name='radio-hack-client-order' type="radio" id="client_order-recieved" class="form-check-input">
      <label for="client_order-recieved" class="form-check-label">Recieved</label>
  
      <input name='radio-hack-client-order' type="radio" id="client_order-finalized" class="form-check-input">
      <label for="client_order-finalized" class="form-check-label">Finalized</label>
  
      <input name='radio-hack-client-order' type="radio" id="client_order-rejected" class="form-check-input">
      <label for="client_order-rejected" class="form-check-label">Rejected</label>
  
      <input name='radio-hack-client-order' type="radio" id="client_order-expired" class="form-check-input">
      <label for="client_order-expired" class="form-check-label">Expired</label>

      <hr class="my-4">
      
      <div class="client_order_container-all"><%- include('partials/Orders-list', {orders : clients_order.all}) %></div>
      <div class="client_order_container-awaiting_info"><%- include('partials/Orders-list', {orders : clients_order.awaiting_info}) %></div>
      <div class="client_order_container-awaiting_payment"><%- include('partials/Orders-list', {orders : clients_order.awaiting_payment}) %></div>
      <div class="client_order_container-awaiting_shipment"><%- include('partials/Orders-list', {orders : clients_order.awaiting_shipment}) %></div>
      <div class="client_order_container-shipped"><%- include('partials/Orders-list', {orders : clients_order.shipped}) %></div>
      <div class="client_order_container-recieved"><%- include('partials/Orders-list', {orders : clients_order.recieved}) %></div>
      <div class="client_order_container-finalized"><%- include('partials/Orders-list', {orders : clients_order.finalized}) %></div>
      <div class="client_order_container-rejected"><%- include('partials/Orders-list', {orders : clients_order.rejected}) %></div>
      <div class="client_order_container-expired"><%- include('partials/Orders-list', {orders : clients_order.expired}) %></div>
     </div>
    </div>

  </section>

    <!-- Footer -->
    <%- include('partials/Footer') %>
    </main>


  </body>
</html>

