<!--designed to work with css input popup technique - no js -->
<div class="popup-dialog" style="max-width:none;">
  <form class="row justify-content-center py-lg-3 py-xl-4" action="<%=action%>" method="<%=method%>">
      <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11">
        <h2 class="h1 pb-lg-1 mb-4">Resolve Report</h2>
        <div class="row">     
          <div class="col-12 mb-4">
            <label for="message" class="form-label fs-base">Describe to the vendor what he did wrong:</label>
            <textarea id="message" name="message" class="form-control form-control-lg" rows="4" minlength="10" maxlength="3000" required placeholder="Because...."></textarea>
          </div>
          <div class="col-sm-6 mb-4">
            <input class="form-check-input" type="checkbox" id="confirm-<%=checkboxInputId%>" required>
            <label class="form-check-label ms-2" for="confirm-<%=checkboxInputId%>">I confirm that all the Information here are correct and that I am sure of my decision</label>
        </div>
        </div>

        <div class="row">     
          <div class="col-12 mb-4">
            <input class="form-check-input" type="checkbox" name="ban" id="instant-ban-<%=checkboxInputId%>">
            <label class="form-check-label ms-2" for="instant-ban-<%=checkboxInputId%>">
              <% if (report.type === 'vendor') { %>
                Request an Immediate Ban of this User
              <% } else { %>
                Request an Immediate Ban of the Vendor of this Product
              <% } %> 
            <span class="fs-sm opacity-70">*For extreme Case</span></label>
      
              <label for="ban-reason-<%=checkboxInputId%>" class="form-label fs-base">Summerize why you think he deserve to be ban <span class="fs-sm opacity-70">*Only requried if the above checkox is checked</span></label>
              <textarea id="ban-reason-<%=checkboxInputId%>" name="banReason" class="form-control form-control-lg" rows="4" minlength="10" maxlength="3000" placeholder="I want to ban him because...."></textarea>  
       
            </div>
        </div>

        <label for="<%=checkboxInputId%>" class="btn btn-danger btn-lg shadow-danger me-2">Cancel</label>
          <button type="submit" class="btn btn-primary btn-lg shadow-primary">Apply Action</button>  
      </div>
    </form>
</div>